*{
    margin: 0;
    clear: both;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    letter-spacing: 1.5px;
}

strong{
    color:#03446e;
}
p{
    color:#3b759c;
}

th{
    background: #03446e;
    color: white;
    height:130px;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
}
td{
    height:120px;
    border: 1px navy solid;
}


