.borde{
    border: 1px solid #80FF00;
}
table{
    width:850px;
    margin-left: auto;
    margin-right: auto;
    color: #08298A;
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto; 			
    font-size: 12px;
}
table tr td{
    padding-left: 15px;
    padding-top: 5px;
   padding-bottom: 5px;
}
.styleTransferencia{
    font-weight: 600; font-size: 16px; font-family: Cambria, Georgia, serif;
}
.borde2{
    border-right: 1px solid #80FF00;
    border-left:1px solid #80FF00;
}
.totales{
    background-color: #E0E6F8; text-align: right;width: 150px;padding-right: 10px;
}