.table tfoot tr {
    /*border-top: 5px #d43f3a solid;*/
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: solid #eee;
}

vr{
 display:inline;
  height:100%;
  width:1px;
  border:1px inset;
  margin:5px

}
.graphic {
    width: 80px;
    margin: 2px;
}
#canvas{
        width: 878px;
    height: 658px;
    border-left: solid #eee;
}
.ancho{
    width: 100%;
}
#contacto_modal label{
margin-top: 10px;
}

#img_marcas{
    margin-left: -175px;
}

.table-results tr td.success,
.table-results tr td.danger
{
        text-align: right;
}

.btn{
    margin-right: 5px;
}

table tfoot tr td .has-error{
    border: 1px solid #a94442;
}

#form_new_col_err{
    color: red;
    font-size: 15px;
        margin-left: 15px;
    margin-top: 5px;
}


input.colsearch {
    margin-top: 10px;
}

#tr_btn_more .btn-success {
    /*float: right;*/
    margin: 0px 10px 0px 10px
}

#col_resultado{
        /*width: 74%;*/
    float: left
}


.iconoFac{ 
        height: 140px;
    width: 100%;
    background-image: url(/img/marcas/vrj.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 35%;
}
html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.cbx_rol label{
    width: 200px;
}

.btnCate {
    text-align: center;
}

#tbl_detalle_abonos tr td:nth-child(5) {
    color: red;
    font-size: 14px;
    font-weight: bold;
}
.carousel-caption h1{
    color: black;
}
td.ganancias {
    font-size: 16px;
    color: green;
    font-weight: bold;
}
td.perdidas {
    font-size: 16px;
    color: red;
    font-weight: bold;
}
.col-lg-2{
    float: left !important;
}

.factura-update.Eliminado {
    border: red solid !important;
}

select#factura-tipo.Venta {
    background: #449d44;
    color: white;
}

select#factura-tipo.Compra {
    background: #c9302c;
    color: white;
}

select#factura-forma_pago.Efectivo {
    background: #449d44;
    color: white;
}
select#factura-forma_pago.Tarjeta {
    background: #f0ad4e;
    color: white;
}
select#factura-forma_pago.Apartado {
    background: #286090;
    color: white;
}
p.has-error{
    border: #d9534f solid;
    padding: 3px;
}
label.lab_aparta {
    color: #d9534f;
    font-size: 18px;
    padding: 2px;
    margin-left: 13px;
}
.right-box{
    float: right !important;
    margin-bottom: 10px;
}

#etiqueta{
    padding: 5px;
    width: 200px;
    height: 300px;
}

.col-lg-4.compra.factura {
    background: #ac2925;
    color: white;
}

.col-lg-4.venta.factura {
    background: #398439;
    color: white;
}

.warning {
    color: orange;
}
.success {
    color: #5cb85c;
}
.danger {
    color: red;
}
.gold {
    color: gold;
}
.input-group.full-width {
    width: 100%;
}
.has-error-fact{
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}